@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
html,
body {
    height: 100%;
}

body {
    background-image: url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.a-million-dreams {
    top: 50%;
    transform: translateY(-80%);
}

p {
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    text-shadow: 0px 0px 6px rgba(150, 150, 150, 1);
}

.keeping-me-awake {
    color: #fff;
    /* background: rgba(0, 0, 0, 0.1); */
    padding: 15px;
    border-radius: 5px;
}

.i-like-butterflies i {
    color: #CBDEDF;
    font-size: 28px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 100px;
    background: #fff;
    cursor: pointer;
}

.i-like-butterflies a {
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.i-like-butterflies a:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.you-is-kind {
    /* margin-right: 10px; */
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    padding-right: 10px;
    padding-left: 15px;
    background-color: #fff;
    color: #CBDEDF;
}

.you-is-smart {
    padding-right: 10px;
    padding-left: 15px;
}

.you-is-important {
    display: flex;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.you-is-important div {
    width: 50%;
    display: inline;
}
