/* Projects */
.projects {
  padding: 1em; }

.project {
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  margin-bottom: 15px;
  padding: 1em;
  color: #333;
  -webkit-box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.47);
  border-left: 2px white solid;
  overflow: hidden; }
  .project:hover, .project:active {
    background: #fff;
    border-left: 2px #2980b9 solid; }
  .project .company {
    position: absolute;
    right: 1em;
    font-size: 14px;
    font-weight: 400;
    color: #444; }
  .project .title {
    color: #2980b9;
    font-weight: 500;
    font-size: 1.5em;
    border-bottom: 1px #3498db solid;
    margin-bottom: .3em; }
  .project .more button {
    padding: 0px 10px;
    position: relative;
    line-height: 0em;
    height: 3em;
    margin: 0px;
    float: right;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    /* border-bottom: #2980b9 1px solid; */
    border-radius: 5px;
    color: #2980b9; }
  .project .more {
    position: relative;
    height: 2em; }
  .project .description {
    height: 3em;
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5em; }
