.container.home {
  top: 50%;
  transform: translateY(-80%); }

.home-card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #282828;
  padding: 15px; }
  .home-card .brand {
    display: flex;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 15px; }
    .home-card .brand .hansel {
      padding-right: 10px;
      padding-left: 15px;
      background-color: #282828;
      color: #CBDEDF; }
    .home-card .brand .lopez {
      padding-right: 10px;
      padding-left: 15px; }
    .home-card .brand .half-name {
      width: 50%;
      display: inline; }
  .home-card .introduction {
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    text-shadow: 0px 0px 6px #c7c7c7; }
  .home-card .links i {
    color: #CBDEDF;
    font-size: 28px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 100px;
    background: #282828;
    cursor: pointer; }
  .home-card .links a {
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .home-card .links a:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
