.project-info .pi-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 1em; }

.project-info .pi-title {
  padding: 15px;
  margin: 0px;
  background-color: #2980b9;
  color: white; }

.gallery {
  height: 400px; }
  .gallery img,
  .gallery a {
    -webkit-box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.47);
    height: 400px !important; }
  .gallery .slick-arrow {
    margin-top: 10px;
    position: absolute; }
  .gallery .slick-arrow.slick-next {
    position: absolute;
    right: 4px; }
  .gallery .slick-arrow.slick-prev {
    position: absolute;
    left: 4px;
    top: calc(100% + 20px); }
  .gallery .slide {
    padding: 10px; }
    .gallery .slide img {
      margin: auto; }
