
#root {
  height: 100vh;
}

.hidden {
  display: none;
}

button.overwrite {
  padding: 0px 10px;
  /* position: relative; */
  line-height: 0em;
  height: 3em;
  margin: 5px;
  /* float: right; */
  border: none;
  border-radius: 0px;
  color: #2980b9;
  &.active {
    border-bottom: #2980b9 1px solid;
  }
}