@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
html,
body {
  height: 100vh; }

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300; }

#root {
  height: 100vh; }

.hidden {
  display: none; }

button.overwrite {
  padding: 0px 10px;
  /* position: relative; */
  line-height: 0em;
  height: 3em;
  margin: 5px;
  /* float: right; */
  border: none;
  border-bottom: #2980b9 1px solid;
  border-radius: 0px;
  color: #2980b9; }
